:root{
    --mainBgColor: cyan;
    --lightBgColor: lightgray;
    --mainFont: 'Indie FLower', cursive;
    --fontSizeBig: 25px;
    --fontSize: 30px;
    --timeFont: 'Orbitron', sans-serif;
    --timeLogClr: rgb(114, 241, 114);
    --buttonWidth: 8vh;
    --buttonRadius: 14px;
    --boxShadow: 5px 8px black;
}

*{
    /* border: 2px solid red; */
    margin: 0px;
    padding: 0px;
    font-family: var(--mainFont);
}

body{
    font-size: var(--fontSize);
}

header{
    margin: 10px auto;
    width: fit-content;
    font-size: var(--fontSizeBig);
}

.index_ejs a{
    text-decoration: none;
}

a :hover{
    color: orange;
}

main{
    padding-left: 25px;
    width: 100%;
}

section{
    width: 100%
}

form{
    width: 100%;
}

button{
    width: var(--buttonWidth);
    border-radius: var(--buttonRadius);
    font-size: 18px;
    font-weight: bold;
    height: 4vh;
    box-shadow: var(--boxShadow);
}
input[type="text"]{
    font-size: 20px;
    width: 20%;
    box-shadow: 5px 10px black;
    
}

input[type="submit"]{
    font-size: 18px;
    font-weight: bold;
    width: 6vh;
    padding: 5px;
    border-radius: 14px;
    box-shadow: var(--boxShadow);
}

.update{
    background-color: aquamarine;
}

input[type="checkbox"]{
    /* margin-left: 10px;
    margin-right: 20px; */
    /* margin: auto; */
    width: 25px;
    height: 25px;
}

input[value="edit"]{
    background-color: var(--mainBgColor);
}

input[value="delete"]{
    background-color: hotpink;
}

select option{
    font-size: 20px;
}
.checkmark{
}

#hiddenDiv{
    display: block; 
    position: relative; 
    transition: 2s;
    width: 50%;
}

#hiddenDiv input[type="text"]{

    width: 100%;
    height: 10vh;
}

#hiddenDiv input[type="submit"]{
    width: var(--buttonWidth)
}

.hidden-btns{
    margin-top: 7px;
    display: grid;
    grid-template-columns: 10vh 10vh;
    position: absolute;
    right: 0px;
}



/* partials ________________________________________________ */
nav{
    background-color: rgb(34, 126, 126);
}
nav a{
    display: flex;
    width: fit-content;
    margin: auto;
    justify-content: center;
}
.nav-links :hover{
    background-color: rgba(0, 255, 255, 0.432);
    color: cyan;
}

 

/* index_ejs_______________________________________________ */


.action{
    width: fit-content;
    display: inline;
}
.skill{
    width: fit-content;
    display: inline;
    margin-left: 20px;
}


.display-skills{
    margin-top: 20px;
    margin-left: 20px;
}


.checked{
    text-decoration: line-through;
   
}

.divider{
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to left, white, gray, black, purple);
}

.log{
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    color: var(--timeLogClr);
}

.entry-container{
    width: 100%; 
}

.entry-divider{
width: 75%;
height: 5px;
background-image: linear-gradient(to left, white, aqua, black);
border-radius: 50px;
}

#edit-entry{
    width: 100%;
    margin-bottom: 20px;
    font-size: 30px;
}

.edited{
    margin-top: 12px;
    font-family: var(--timeFont);
    font-size: 12px;
    color: rgb(90, 88, 88);
}

.hide{
    display: none;
}


.add{
    background-color:aquamarine;
}
.cancel{
    background-color: hotpink;
}