:root{
    --mainBgColor: blue;
    --lightBgColor: lightgray;
    --mainFont: 'Indie FLower', cursive;
    --fontSizeBig: 25px;
    --fontSize: 30px;
}

*{
    /* border: 2px solid red; */
    margin: 0px;
    padding: 0px;
    font-family: var(--mainFont);
}

body{
    font-size: var(--fontSize);
}

header{
    margin: auto;
    width: fit-content;
    font-size: var(--fontSizeBig);
}

.index_ejs a{
    text-decoration: none;
}

a :hover{
    color: orange;
}


input[type="checkbox"]{
    /* margin-left: 10px;
    margin-right: 20px; */
    /* margin: auto; */
    width: 25px;
    height: 25px;
}

.checkmark{
}

input{
    font-size: var(--fontSize);
}


/* partials ________________________________________________ */
nav{
    background-color: rgb(34, 126, 126);
}
nav a{
    display: flex;
    width: fit-content;
    margin: auto;
    justify-content: center;
}
.nav-links :hover{
    background-color: rgba(0, 255, 255, 0.432);
    color: cyan;
}

 

/* index_ejs_______________________________________________ */


.action{
    width: fit-content;
    display: inline;
}
.skill{
    width: fit-content;
    display: inline;
    margin-left: 20px;
}

.index_ejs section{
    
    width: 80%;
}

.display-skills{
    margin-top: 20px;
    margin-left: 20px;
}


.checked{
    text-decoration: line-through;
   
}

.divider{
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to left, white, gray, black, purple);
}

.log{
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    color: lightgray;
}

.entry-container{
    width: 50%; 
}

.entry-divider{
width: 100%;
height: 5px;
background-image: linear-gradient(to left, white, aqua, black);
border-radius: 50px;
}

.edit-entry{
    width: 100%;
}
